{% extends "website/base.html" %}

{% block content %}
<h1>About Page</h1>
<br/>
<pre>
This is a Knowledge Sharing Platform created by Dominic Spinks.
It's Dominic's final year project development work and is a piece of software designed to allow users to share and search for information.
This is to be consumed/equipped by Capgemini and provides business value through enabling business-wide knowledge sharing.
Additionally, there's natural language processing applied to uploaded documents (currently handles .docx and .txt files).
This NLP functionality automatically generates a title, summary and tags for the uploaded document, which the user can then edit before publishing the page.
</pre>
{% endblock content %}