{% extends "website/base.html" %}

{% block content %}
    {% for page in pages %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ page.author.profile.image.url }}">
          <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ page.author }}</a>
                <small class="text-muted">{{ page.date_posted|date:"F d, Y" }}</small>
                <!-- Above prints the date posted in format: Month (F) Day number (d), Year (Y)
                     as per documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
              </div>
              <!-- Link page title to page url by passing in primary key of the page to url routing -->
              <h2><a class="article-title" href="{% url 'published-page' page.id %}">{{ page.title }}</a></h2>
              <p class="article-content">{{ page.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}