{% extends "website/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-pages' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          <!-- Above prints the date posted in format: Month (F) Day number (d), Year (Y)
               as per documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit-page' object.id %}">Edit Page</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-page' object.id %}">Delete Page</a>
          </div>
        {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
          <form action="{% url 'like-page' object.id %}" method="POST">
            {% csrf_token %}
            {% if is_liked %}
            <button type="submit" class="btn btn-danger">Dislike</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Like</button>
            {% endif %}
          </form>
        </div>
        <p class="text-muted mt-2 mb-2">Total number of likes: {{ object.total_likes }}</p>
      </div>
    </article>
{% endblock content %}