{% extends "website/base.html" %}
{% load static %}
<!-- Load crispy form tags so I can use them for styling -->
{% load crispy_forms_tags %}
<!-- Load custom template filters -->
{% load website_extras %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap-tagsinput.css' %}">

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-warning }}">
  {{ error }}
</div>
{% endfor %}
{% endfor %}
{% endif %}

<main role="main">
  <form method="POST" enctype="multipart/form-data">
    <div class="row form-top-submit">
      <div class="col-10">
        <p>Click on the different sections of the page to edit them!</p>
      </div>
      <div class="col-2">
        <!-- If not object (i.e. page hasn't been created, show a 'create page' button, else show an 'update page' button -->
        <button type="submit" class="btn btn-primary align-self-end" id="publish-page-button">{% if not object %}Create
          Page {% else %} Update Page {% endif %}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10 border" id="main">
        <!-- Add csrf token for security (prevents cross-site request forgery) -->
        {% csrf_token %}
        <div class="mr-auto" id="form-section">
          <div class="input-group mt-3 mb-3">
            <input type="text" name="title" maxlength="50" class="form-control" placeholder="Title"
              {% if form.title.value != None %} value="{{ form.title.value }}" {% elif title != None %} value="{{ title }}" {% endif %} required id="title">
          </div>
          <!-- Check if user has been directed here after uploading a document or is editing an existing form with a document-->
          {% if summary_text != None or form.document.name %}
          <div class="row">
            <div class="col-7 input-group mt-3 mb-3">
              <textarea name="summary" class="form-control" rows="16" placeholder="Summary text" required
                id="summary">{% if summary_text != None %} {{ summary_text }} {% else %} {{ form.summary.value }} {% endif %}</textarea>
            </div>
            <a class="col-5 input-group mt-3 mb-3 justify-content-center border" href="">
              <div class="align-self-center">
                <img src="{% static 'website/icons/download-document.png' %}" alt="Card image cap">
                <h3><br/>Download Document</h3>
              </div>
            </a>
          </div>
          <!-- Else display regular create / edit page that just has text documentation -->
          {% else %}
          <div class="input-group mt-3 mb-3">
            <textarea name="summary" class="form-control" rows="2" placeholder="Summary of page"
              id="summary">{% if form.summary.value != None %} {{ form.summary.value }} {% endif %}</textarea>
          </div>
          <div class="input-group mt-3 mb-3">
            <textarea name="main_text" class="form-control" rows="13" placeholder="Main text" required
              id="main_text">{% if form.main_text.value != None %} {{ form.main_text.value }} {% endif %}</textarea>
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col border">
            <div class="row">
              <div class="col">
                <ul class="list-group">
                  <div class="form-group">
                    <label>Tags (maximum 6, comma separated):</label><br />
                    <input type="text" data-role="tagsinput" class="form-control" {% if tags != None %}
                      value="{{ tags|form_tag_value_to_tags }}" {% else %}
                      value="{{ form.tags.value|form_tag_value_to_tags }}" {% endif %} name="tags"
                      placeholder="Add tags here...">
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="col border">
            <div class="row">
              <div class="col">
                <ul class="list-group">
                  <div class="form-group">
                    <label>Contacts (maximum 6):</label><br />
                    <select class="form-control" name="contacts" theme="bootstrap" data-placeholder="Search contacts..."
                      data-minimum-input-length="1" id="contacts_autocomplete" data-autocomplete-light-language="en"
                      data-autocomplete-light-url="/contacts-autocomplete/" data-autocomplete-light-function="select2"
                      multiple="multiple">
                      <!-- Check if form has an instance (i.e. this is an update page) -->
                      {% if form.instance.pk %}
                      <!-- If it is update page, loop through contacts and add to view -->
                      {% for contact in form.instance.contacts.all %}
                      <option value="{{ forloop.counter }}" selected="" data-select2-id="{{ forloop.counter }}"
                        id="contact-{{ forloop.counter }}">{{ contact.username }}</option>
                      {% endfor %}
                      <!-- Else it's the create page -->
                      {% else %}
                      <!-- So add the current user as a contact -->
                      <option value="1" selected="" data-select2-id="1" id="contact-1">{{ request.user.username }}
                      </option>
                      {% endif %}
                    </select>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- sidebar -->
      <div class="col-2 border" id="sidebar">
        <div class="row justify-content-center mb-5">
          <h3>{{ request.user.username }}</h3>
        </div>
        <div class="row justify-content-center mb-5">
          <img class="rounded-circle article-img" src="{{ request.user.profile.image.url }}"
            style="width: 60%; height: 60%">
        </div>
        <div class="row justify-content-center mb-3">
          <h6>About this author:</h6>
        </div>
        <div class="row justify-content-center mb-3 ml-1 mr-1">
          <p>{{ request.user.profile.description }}</p>
        </div>
      </div>
    </div>
  </form>
</main>

<!-- These scripts and {{ form.media }} template are required for django-taggit and select2 autocomplete respectively -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{% static 'website/bootstrap-tagsinput.js' %}"></script>
{{ form.media }}
{% endblock content %}