{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <h2>Upload your document!</h2>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-horizontal">
                {% csrf_token %}
                <!-- <input class="form-control-file" type="file" name="document"> -->
                {{ form|crispy }}
                <button class="btn btn-primary mt-2" type="submit">Upload file</button>
            </div>
        </form>
{% endblock content %}