{% extends "website/base.html" %}
<!-- Load crispy form tags so I can use them for styling -->
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            <!-- Add csrf token for security (prevents cross-site request forgery) -->
            {% csrf_token %}
            <!-- bootstrap class -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <!-- Vertical bar specifies that I want to use a filter. The crispy filter improves the styling (e.g. adds asterisks to required fields, labels form in a neat way, error messages presented neatly etc.) -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <!--padding top 3-->
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="#">Fogotten your password?</a>
            </small>
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}