{% extends "website/extended_base.html" %}
<!-- Load crispy form tags so I can use them for styling -->
{% load crispy_forms_tags %}
{% block content-extended %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- Enctype must be included here to ensure image data is process properly -->
      <form method="POST" enctype="multipart/form-data">
        <!-- Add csrf token for security (prevents cross-site request forgery) -->
        {% csrf_token %}
        <!-- bootstrap class -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Information</legend>
            <!-- Vertical bar specifies that I want to use a filter. The crispy filter improves the styling (e.g. adds asterisks to required fields, labels form in a neat way, error messages presented neatly etc.) -->
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
{% endblock content-extended %}